{
    "file_exceptions": [
        "^.gitignore$",
        "^options.json$",
        "^options.json.example$",
        "^scripts($|/.*)",
        "^README.md$"
    ],
    "install_dir": "~/",
    "backup_dir": "./.backup"
}
