[user]
    name = Vidur Murali
    email = vidur.murali@gmail.com
[http]
    sslverify = false
[credential]
    helper = osxkeychain
[alias]
    diffc = diff --cached
    diffm = diff --cached --diff-filter=M
    unfuckit = reset HEAD --hard
    ls = ls-files
    l = log --date=local --format='format:%C(yellow)commit %H [%h]%Creset%nAuthor: %Cblue%an%Creset <%ae>%nDate:   %cd, %Cgreen%cr%Creset%n%n    %s%n%n%w(0,4,4)%b'
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    rekt = reset HEAD --hard
    track-mainline = branch --set-upstream-to=origin/mainline

#   $1 => the number of commits to diff across
    last = "!f() { n=$1; if [ -z "$1" ] ; then n=1; fi; git diff HEAD~$n HEAD; }; f"

#   $1 => commit ID to diff to ; $2 => number of commits to diff across
    prev = "!f() { n=$2; if [ -z "$2" ] ; then n=1; fi; git diff $1~$n $1; }; f"

    branchdate = !git for-each-ref --sort='-authordate' --format='%(refname)%<2>%(authordate)' refs/heads | sed -e 's-refs/heads/--'
    track = "!f() { remote=$1; branch=$2; git branch --set-upstream-to=$remote/$branch; }; f"
    untrack = branch --unset-upstream
#   git rm deleted files in repo
    rmm = "!f() { git status | grep deleted | awk '{print $2;}' | xargs git rm; }; f"
# Logic:
#
# The 'git stash save' fails if the tree is clean (instead of
# creating an empty stash :P). So, we only 'stash' and 'pop' if
# the tree is dirty.
#
# The 'git rebase --whitespace=fix HEAD~' throws away the commit
# if it's empty, and adding '--keep-empty' prevents the whitespace
# from being fixed. So, we first check that the index is dirty.
#
# Also:
# - '(! git diff-index --quiet --cached HEAD)' is true (zero) if
#   the index is dirty
# - '(! git diff-files --quiet .)' is true if the tree is dirty
#
# The 'rebase --whitespace=fix' trick is from here:
# http://stackoverflow.com/a/19156679/470844
    fixws = !"\
        if (! git diff-files --quiet .) && \
        (! git diff-index --quiet --cached HEAD) ; then \
        git commit -m FIXWS_SAVE_INDEX && \
        git stash save FIXWS_SAVE_TREE && \
        git rebase --whitespace=fix HEAD~ && \
        git stash pop && \
        git reset --soft HEAD~ ; \
        elif (! git diff-index --quiet --cached HEAD) ; then \
        git commit -m FIXWS_SAVE_INDEX && \
        git rebase --whitespace=fix HEAD~ && \
        git reset --soft HEAD~ ; \
    fi"
[color]
    ui = true
    diff = true
    status = true
    branch = true
[color "diff"]
    plain = normal
    meta = yellow
    frag = blue
    old = red
    new = green
    commit = yellow
    whitespace = red reverse
[color "status"]
    header = normal
    added = green
    updated = green
    changed = blue
    untracked = red
    branch = blue
    nobranch = red
[color "branch"]
    plain = normal
    current = blue
    local = green
    remote = red
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = nano
[remote "origin"]
	prune = true
